trigger:
- dev

pr:
- dev

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '21'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

- script: |
    echo "Compiling Java source files..."
    javac phase-0-algorithms/**/*.java
  displayName: 'Compile Java (Phase 0)'
