trigger:
- dev

pr:
- dev

pool:
  name: 'SelfHostedPool'

steps:
- script: |
    echo "Java version:"
    java -version
    echo "Compiling Java source files..."
    javac phase-0-algorithms/**/*.java
  displayName: 'Compile Java (Phase 0)'
